*~
*.o
*.aps
*.tar.gz
*.rar
*.suo
*.ncb
*.idb 
*.obj 
*.opt 
*.pch 
*.pyc
*.log
*.exe
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.user
*.txt
bin/*
msvc/Debug
msvc/Debug DLL
msvc/Debug Static Lib
msvc/Release
msvc/Release DLL
msvc/Release Static Lib
test/msvc/Debug
test/msvc/Release
demo/deletefiles/msvc/Release
demo/deletefiles/msvc/Debug
demo/indexfiles/msvc/Release
demo/indexfiles/msvc/Debug
demo/searchfiles/msvc/Release
demo/searchfiles/msvc/Debug
