*~
*.o
*.aps
*.tar.gz
*.rar
*.cmd
*.suo
*.ncb
*.idb 
*.obj 
*.opt 
*.pch 
*.pyc
*.log
*.exe
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.user
*.bak
bin/*
msvc/Debug DLL
msvc/Debug Static
msvc/Release DLL
msvc/Release Static
contrib/msvc/Debug DLL
contrib/msvc/Debug Static
contrib/msvc/Release DLL
contrib/msvc/Release Static
test/msvc/Debug DLL
test/msvc/Debug Static
test/msvc/Release DLL
test/msvc/Release Static
demo/deletefiles/msvc/Release DLL
demo/deletefiles/msvc/Release Static
demo/deletefiles/msvc/Debug DLL
demo/deletefiles/msvc/Debug Static
demo/indexfiles/msvc/Release DLL
demo/indexfiles/msvc/Release Static
demo/indexfiles/msvc/Debug DLL
demo/indexfiles/msvc/Debug Static
demo/searchfiles/msvc/Release DLL
demo/searchfiles/msvc/Release Static
demo/searchfiles/msvc/Debug DLL
demo/searchfiles/msvc/Debug Static
